<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Guests</th>
      </tr>
    </thead>
    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.guests.map(&:name).join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
