// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

body.home {
  &.index, {
    /* Carousel base class */
    .carousel {
      height: 500px;
      margin-bottom: 60px;

      .carousel-control {
        background-image: none;
      }
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      z-index: 10;
      margin-bottom: 40px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
      height: 500px;
      background-color: #777;
      background-image: image-url("watercolor_1920x1080.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }


    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .col-md-4 {
      margin-bottom: 20px;
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .col-md-4 p {
      margin-right: 10px;
      margin-left: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (min-width: 768px) {
      margin-top: 0;

      .navbar-inverse {
        background-color: rgba(16, 16, 16, 0.7);
        border-color: darken(rgba(16, 16, 16, 0.5), 10%);

        li > a {
          color: $white;
        }

        .navbar-brand {
          color: $white;
        }
      }

      .navbar {
        background-color: rgba(248, 248, 248, 0.5)
      }

      /* Bump up size of carousel content */
      .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
      }

      .featurette-heading {
        font-size: 50px;
      }
    }

    @media (min-width: 992px) {
      .featurette-heading {
        margin-top: 120px;
      }
    }

  }

  &.events {
    .row:first-child {
      margin-top: 80px;
    }

    .col-md-4 {
      margin-bottom: 20px;
      text-align: center;
    }
    h2 {
      font-weight: normal;
    }

    iframe {
      width: 450px;
      height: 450px;
    }

    .col-md-4 p {
      margin-right: 10px;
      margin-left: 10px;
    }

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

    @media (min-width: 768px) {
      .featurette-heading {
        font-size: 50px;
      }
    }

    @media (min-width: 992px) {
      .featurette-heading {
        margin-top: 120px;
      }
    }

  }

  &.about_us {
    padding-bottom: 0;

    /* Carousel base class */
    .carousel {
      height: 500px;
      // margin-bottom: 60px;

      .carousel-control {
        background-image: none;
      }
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      z-index: 10;
      margin-bottom: 40px;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
      height: 500px;
      // background: #777 no-repeat center center fixed;
      // background: image-url("highschool.jpg") no-repeat center center fixed;
      background-color: $white;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;

      &#story {
        background-image: image-url("story.jpg");
      }

      &#highschool {
        background-image: image-url("highschool.jpg");
      }

      &#monterey {
        background-image: image-url("monterey.jpg");
      }

      &#argentina {
        background-image: image-url("argentina.jpg");
      }

      &#berkeley {
        background-image: image-url("berkeley.jpg");
      }

      &#chile {
        background-image: image-url("chile.jpg");
      }

      &#engagement {
        background-image: image-url("engagement.jpg");
      }

      &#italy {
        background-image: image-url("italy.jpg");
      }

      &#london {
        background-image: image-url("london.jpg");
      }

      &#napa {
        background-image: image-url("napa.jpg");
      }

      &#peru {
        background-image: image-url("peru.jpg");
      }

      &#sf {
        background-image: image-url("sf.jpg");
      }

      &#vatican {
        background-image: image-url("vatican.jpg");
      }

      &#vegas {
        background-image: image-url("vegas.jpg");
      }
    }

    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    @media (min-width: 768px) {
      margin-top: 0;

      .navbar {
        background-color: rgba(248, 248, 248, 0.5)
      }

      .carousel {
        height: 700px;
      }

      .carousel .item {
        height: 700px;
      }

      .carousel-caption p {
        margin-bottom: 40px;
        font-size: 21px;
        line-height: 1.4;
      }
    }
  }
}

