@import "bootstrap/variables";
$gray-lightest:           lighten(#000, 98%);
$white:                   #fff;
$text-color: $gray;
// $navbar-inverse-bg: rgba(34, 34, 34, 0.9);
$navbar-default-bg: rgba(248, 248, 248, 0.5)
